.maker {
    width: 100%;
    height: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    background-color: makerWhite;
  }
  .container {
    display: flex;
    flex: 1; /* 중간에 여백을 가득채우도록 1을 준다 */
    min-height: 0;
  }
  @media screen and (max-width: 62rem) {
    .container {
      flex-direction: column;
    }
  }